*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-dark: oklch(0 0 0);
    --color-light: oklch(1 0 0);

    --color-agree-200: #B8FF9F;
    --color-agree-300: #9dfc7c;
    --color-agree-400: #7df752;

    --color-disagree-200: #FF9F9F;
    --color-disagree-300: #fa7a7a;
    --color-disagree-400: #f76363;

    --color-neutral-200: #A6FAFF;
    --color-neutral-300: #79F7FF;
    --color-neutral-400: #53f2fc;

    --color-text: oklch(0.6836 0.1852 45.18);

    --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

    --border-radius-sm: .25rem;

    --background-color: oklch(0.9307 0.1439 137.85);
}

html {
    color-scheme: light;
    background-color: oklch(0.9307 0.1439 137.85);
    accent-color: light-dark(var(--color-dark), var(--color-light));
    text-size-adjust: none;
    tab-size: 4;
    scrollbar-gutter: stable;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
        scroll-behavior: smooth;
    }
}

body {
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    color: light-dark(var(--color-dark), var(--color-light));
    line-height: 1.5;
    min-block-size: 100vb;
}

img,
picture,
svg,
video {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
}

button {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    line-height: 1.25;
}

:any-link:not([class]) {
    text-decoration: none;
    font-weight: 600;
    color: light-dark(var(--color-dark), var(--color-light));
}

@media (hover: hover) {
    :any-link:not([class]):hover {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-underline-offset: .25rem;
        text-decoration-thickness: max(1px, .125em);
    }
}

:where(:any-link:is(:focus-visible)) {
    outline: max(1px, .125em) dashed light-dark(var(--color-dark), var(--color-light));
    outline-offset: .125em;
}

fieldset,
legend {
    all: unset;
}

/* Screens layout */

.screens {
    scroll-snap-type: y mandatory;
    max-block-size: 100dvb;
    overflow-y: scroll;
}

.screen {
    display: grid;
    place-items: center;
    inline-size: 100dvi;
    block-size: 100dvb;
    scroll-snap-align: start;
    position: relative;
}

.screen[inert]::after {
    content: '';
    position: absolute;
    inset: 0;
    background: oklch(0 0 0 / .5);
    pointer-events: none;
    user-select: none;
}

.screen[data-screen="welcome"] {
    background-color: oklch(0.7996 0.1148 19.91);
}

.screen[data-screen="rules"] {
    background-color: oklch(0.91 0.0927 180.43);
}

.screen[data-screen="category"] {
    background-color: oklch(0.9591 0.1071 102.48);
}

.screen[data-screen="input"] {
    background-color: oklch(0.932 0.1066 137.79);
}

.screen[data-screen="question"] {
    background-color: oklch(0.7849 0.1027 274.62);
}

.screen[data-screen="result"] {
    background-color: oklch(0 0 0);
    color: oklch(1 0 0);
}

.screen__content {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.25rem;
    padding: 1.25rem;
    max-inline-size: 50rem;
}

.screen__title {
    font-size: 3.5rem;
}

.screen__subtitle {
    font-size: 1.5rem;
}

.screen__list-item {
    list-style-position: inside;
    font-size: 1.25rem;
}

.screen__players {
    display: flex;
    flex-flow: column wrap;
    gap: 1.25rem;
}

.screen__button {
    padding-inline: 1.25rem;
    block-size: 3.5rem;
    inline-size: max-content;
    border: 2px solid oklch(0 0 0);
    border-radius: 2.5rem;
    cursor: pointer;
    text-decoration: none;
    background-color: oklch(0.9591 0.1071 102.48);
    line-height: 1;
    font-weight: 600;
    color: light-dark(var(--color-dark), var(--color-light));
    transition: background-color 0.2s ease;
}

.screen__button:hover {
    background-color: oklch(0.9417 0.1571 103.13);
    box-shadow: 2px 2px 0px oklch(0 0 0);
}

.screen__button:active {
    background-color: oklch(0.9147 0.1908 101.03);
}

/* Category selection */

.category-select {
    display: flex;
    flex-flow: column wrap;
    gap: .75rem;
}

.category-select__label {
    font-size: 1.25rem;
    font-weight: 700;
}

.category-select__field {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding-block: .5rem;
    padding-inline: .75rem;
    background-color: oklch(0.9307 0.1439 137.85);
    border: 2px solid oklch(0 0 0);
    border-radius: .375rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 2rem;
}

.category-select__field:hover {
    background-color: oklch(0.9041 0.1873 138.21);
    box-shadow: 2px 2px 0px oklch(0 0 0);
}

.category-select__field:active {
    background-color: oklch(0.8733 0.2292 138.71);
}

/* Player input */

.player-input {
    display: flex;
    flex-flow: column wrap;
    gap: .75rem;
}

.player-input__label {
    font-size: 1.25rem;
    font-weight: 700;
}

.player-input__field {
    appearance: none;
    font: inherit;
    border: none;
    outline: none;
    opacity: 1;
    padding: .625rem;
    background-color: oklch(0.8381 0.1446 330.4);
    border: 2px solid oklch(0 0 0);
    border-radius: .375rem;
}

.player-input__field:hover {
    background-color: oklch(0.7905 0.1785 330.87);
    box-shadow: 2px 2px 0px oklch(0 0 0);
}

.player-input__field:active {
    background-color: oklch(0.7721 0.1984 331.07);
}

/* Questions */

.question-form__fieldset {
    display: flex;
    flex-flow: column wrap;
    gap: 1.25rem;
}

.question-form__legend {
    display: flex;
    flex-flow: column wrap;
    gap: 1.25rem;
    margin-block-end: 1.25rem;
}

.question-form__label {
    color: light-dark(var(--color-dark), var(--color-light));
    font-size: 3.5rem;
    font-weight: 600;
}

.question-form__text {
    font-size: 1.5rem;
    font-weight: 400;
}

.question-form__button {
    padding-inline: 1.25rem;
    block-size: 3.5rem;
    inline-size: max-content;
    border: 2px solid oklch(0 0 0);
    border-radius: 2.5rem;
    cursor: pointer;
    text-decoration: none;
    background-color: oklch(0.9591 0.1071 102.48);
    line-height: 1;
    font-weight: 600;
    color: light-dark(var(--color-dark), var(--color-light));
    transition: background-color 0.2s ease;
}

.question-form__button:hover {
    background-color: oklch(0.9417 0.1571 103.13);
    box-shadow: 2px 2px 0px oklch(0 0 0);
}

.question-form__button:active {
    background-color: oklch(0.9147 0.1908 101.03);
}

/* Answers */

.answer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: .75em;
    block-size: 3.5rem;
    transition: all 0.2s ease;
    cursor: pointer;
}

.answer[data-answer="agree"] {
    background-color: var(--color-agree-200);
}

.answer[data-answer="agree"]:hover {
    background-color: var(--color-agree-300);
    border-color: oklch(0 0 0);
    box-shadow: 2px 2px 0px oklch(0 0 0);
}

.answer[data-answer="agree"]:has(input:checked) {
    background-color: var(--color-agree-400);
    border-color: oklch(0 0 0);
    box-shadow: 2px 2px 0px oklch(0 0 0);
}

.answer[data-answer="disagree"] {
    background-color: var(--color-disagree-200);
}

.answer[data-answer="disagree"]:hover {
    background-color: var(--color-disagree-300);
    border-color: oklch(0 0 0);
    box-shadow: 2px 2px 0px oklch(0 0 0);
}

.answer[data-answer="disagree"]:has(input:checked) {
    background-color: var(--color-disagree-400);
    border-color: oklch(0 0 0);
    box-shadow: 2px 2px 0px oklch(0 0 0);
}

.answer[data-answer="neutral"] {
    background-color: var(--color-neutral-200);
}

.answer[data-answer="neutral"]:hover {
    background-color: var(--color-neutral-300);
    border-color: oklch(0 0 0);
    box-shadow: 2px 2px 0px oklch(0 0 0);
}

.answer[data-answer="neutral"]:has(input:checked) {
    background-color: var(--color-neutral-400);
    border-color: oklch(0 0 0);
    box-shadow: 2px 2px 0px oklch(0 0 0);
}

.answer__label {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1ch;
    padding-inline: .5rem;
    inline-size: 100%;
    block-size: inherit;
    cursor: pointer;
}

.answer__text {
    flex: 1;
    user-select: none;
    line-height: 1;
}

.answer__input {
    appearance: none;
    inline-size: 1.5rem;
    block-size: 1.5rem;
    flex-shrink: 0;
    border: 2px solid oklch(0 0 0);
    border-radius: 50%;
    background-color: oklch(1 0 0);
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.answer__input::before {
    content: "";
    inline-size: 0.75rem;
    block-size: 0.75rem;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s ease;
    background-color: oklch(0 0 0);
}

.answer__input:checked::before {
    transform: scale(1);
}